<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leveraging LLMs and ChatGPT for Enhanced Decision Making in the Financial Industry – Fair Issac Corporation (FICO)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/md.css') }}">
</head>

<body>


<div class="container">
    <header>
        <p><a href="/#portfolio">Go Back to Home</a></p>

        <h1 class="title">Leveraging LLMs and ChatGPT for Enhanced Decision Making in the Financial Industry – Fair Issac Corporation (FICO)</h1>
        <p class="author">Akhil Sodari</p>
        
    </header>
    
    <div class="content">
        <img src="{{ url_for('static', filename='images/LLM1.png') }}" alt="" class="img-fluid rounded-circle" style="height: 300px;">
     
    <br>
    
    <p><span style="font-family: times;"><span style="background-color: white; color: #0d0d0d; font-size: 16px; white-space-collapse: preserve;">
        <p>&nbsp;• Conducted comprehensive research on FICO and its role in the credit risk assessment industry and decision management solutions.</p><p>&nbsp;• Collaborated with the project team to assess LLM-based systems accuracy and efficiency in financial applications.</p><p>&nbsp;• Explored competitors' adoption of AI technologies in their products, contributing to the development of an industry-wide framework.&nbsp;</p><p>• Designed an industry wide framework for companies in the financial industry to assess the viability of leveraging LLMs in their business.</p><p>&nbsp;• Developed a Python Flask Application based on the designed framework and integrated it with ChatGPT API, enhancing dynamic usability.&nbsp;</p><p>• Presented findings and deliverables to FICO executives; framework and prototype were well-received for their strategic value.
        </p>


</div><div><b>FICO LLM Presentation:</b> <a href="https://docs.google.com/presentation/d/1tZlnRFbl7CuNt45HFLtqNwulVCxNySKt/edit?usp=sharing&ouid=116930809556002816734&rtpof=true&sd=true" target="_blank">FICO LLM Presentation.pptx</a></div><div><b><br /></b></div>

    </p>
    <div><b><span style="color: #e06666;">Got any questions, need access to files, or have any feedback on the project? </span></b></div><div><br /></div>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=akkistyicon@gmail.com&su=Feedback%20on%20the%20Facial%20Recognition%20Project" class="btn"><span style="color: #e69138;"><b>Click here to get in touch with me</b></span></a>
    <!--
</div>
        <p class="description">Hello, this is one of the very first projects I have ever done. It is my minor project during my Bachelor's in Computer Science
            and Engineering at Mahatma Gandhi Institute of Technology. <br>
            From my childhood, I was always fascinated by sci-fi movies, and especially Iron Man 2008, where the protoganist operates the display without touching it.<br>
            I have seen that it many movies afterwards, and I used to get excited everytime I watched such sort of tech.

            So, for my minor project I wanted to do something similar and showcase to the Class of 2021. But just doing a normal tech with a reference From 
            movie doesn't make any sense, So I wanted to add a bit of usefullness to it. I am a person who always work to build something useful for the world,
            Therefore I did some research and find out about the Carpal Tunnel Syndrome, and I tought I could apply my technology to address this issue.
            Therefore, I build this project around carpal tunnel syndrome.

            Ideally, I want to explain the project in this post, but I have already prepared a good documentation. So, I am attaching it with this email and you
            can go through it.

            
        </p>
    -->

        

        <p class="read-more"><a href="#">Read more</a></p>
    </div>
    
    <footer>
        <p>Published on January 1, 2024</p>
        <p>5 min read</p>
    </footer>
</div>

</body>
</html>
