{% extends 'base.html' %}

{% block content %}
<h2>Projects</h2>
<p>Stevens Institute of Technology</p>
<p>Leveraging LLMS and ChatGPT for Enhanced Decision Making in the Financial Industry – Fair Issac Corporation (FICO)</p>
<ul>
    <li>Conducted comprehensive research on FICO and its role in the credit risk assessment industry...</li>
    <li>Collaborated with the project team to assess the accuracy and efficiency of LLM-based systems...</li>
    <li>Currently researching FICO products to explore opportunities for integrating LLMs into their systems...</li>
</ul>
<p>Mahatma Gandhi Institute of Technology</p>
<p>A novel cost-efficient approach for autonomous attendance in classroom environments | Python, Tkinter, Computer Vision</p>
<ul>
    <li>Analyzed the present situation and problems the department is facing...</li>
    <li>Designed a facial recognition solution based on the Viola-Jones Algorithm...</li>
    <li>Designed an intuitive Graphical User Interface (GUI) with Tkinter...</li>
</ul>
{% endblock %}
