{% extends 'base.html' %}

{% block content %}
<h2>Skills</h2>
<p>Programming & Libraries: Python, R, SQL, Java, C++, C# .NET, JavaScript | NumPy, Pandas, Scikit-learn, Matplotlib, OpenCV</p>
<p>Software & Tools: Tableau, Erwin Data Modeler, PostgreSQL, JIRA, VBA for Excel, Microsoft Office Suite</p>
<p>Strengths: Leadership, Prioritization, Detail-oriented, Analytical Thinker, Creative Problem Solver</p>
<p>Certifications: Applied Data Science with Python Specialization (Coursera), Neural Networks & Deep Learning (Deeplearning.ai), ...</p>
{% endblock %}
