<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Mouse System Addressing the Carpal Tunnel Syndrome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/md.css') }}">
</head>

<body>


<div class="container">
    <header>
        <p><a href="/#portfolio">Go Back to Home</a></p>

        <h1 class="title">Virtual Mouse System Addressing the Carpal Tunnel Syndrome</h1>
        <p class="author">Akhil Sodari</p>
        
    </header>
    
    <div class="content">
        <img src="{{ url_for('static', filename='images/projects/mouse project pic.png') }}" alt="" class="img-fluid rounded-circle">
     
    <br>
    <p>
        
        Hey, how are you doing today?

        This was one of the very first projects I have ever done. It is my minor project during my Bachelor's in 
        Computer Science and Engineering at <b><a href="https://mgit.ac.in/" target="_blank">Mahatma Gandhi Institute of Technology</a><a href="https://mgit.ac.in/" target="_blank"></a></b>.&nbsp;<div><b><br/></b></div>
        
        <div><b><span style="color: red;">From my childhood</span></b>, I was always fascinated by sci-fi movies, and especially <a href="https://i.pinimg.com/736x/d3/65/a1/d365a1080f1507b249e4c60708fa5f82.jpg" target="_blank">Iron Man 2008</a>, where the protagonist operates the display without touching it.</div><div><br /></div><div>
        I have seen that in many movies afterwards, and I used to get excited everytime I watched such sort of tech.

        So, for my minor project I wanted to do something similar and showcase to the Class of 2021. But just doing a normal tech with a reference From 
        movie doesn't make any sense, So I wanted to add a bit of usefullness to it.&nbsp;</div><div><br /></div><div>I am a person who always work to build something useful for the world,
        Therefore I did some research and found out about <span style="font-family: times;"><i>the Carpal Tunnel Syndrome,</i></span> and I thought I could apply my technology to address this issue.
        Therefore, I build this project around carpal tunnel syndrome.

        Ideally, I want to explain the project in this post, but I have already prepared a good documentation. So, I am attaching it with this email and you
        can go through it.


</div><div><br /></div><div><b>Project Report:</b> <a href="https://drive.google.com/file/d/1JA8JnwiLGgHvshxN_ptSa11HjzYw-XFz/view?usp=sharing" target="_blank">Virtual Mouse System Report.pdf</a></div><div><b><br /></b></div><div><b>GitHub:&nbsp;</b></div><div><br /></div><div><b>Presentation:</b> <a href="https://docs.google.com/presentation/d/1z68ISTA8k8FXESW8rHsTtA0-xkWDdAnp/edit?usp=sharing&amp;ouid=116930809556002816734&amp;rtpof=true&amp;sd=true" target="_blank">Virtual Mouse Project.pptx</a></div><div><br /></div>
    </p>
    <div><b><span style="color: #e06666;">Got any questions, need access to files, or have any feedback on the project? </span></b></div><div><br /></div>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=akkistyicon@gmail.com&su=Feedback%20on%20the%20Virtual%20Mouse%20Project" class="btn"><span style="color: #e69138;"><b>Click here to get in touch with me</b></span></a>
    <!--
</div>
        <p class="description">Hello, this is one of the very first projects I have ever done. It is my minor project during my Bachelor's in Computer Science
            and Engineering at Mahatma Gandhi Institute of Technology. <br>
            From my childhood, I was always fascinated by sci-fi movies, and especially Iron Man 2008, where the protoganist operates the display without touching it.<br>
            I have seen that it many movies afterwards, and I used to get excited everytime I watched such sort of tech.

            So, for my minor project I wanted to do something similar and showcase to the Class of 2021. But just doing a normal tech with a reference From 
            movie doesn't make any sense, So I wanted to add a bit of usefullness to it. I am a person who always work to build something useful for the world,
            Therefore I did some research and find out about the Carpal Tunnel Syndrome, and I tought I could apply my technology to address this issue.
            Therefore, I build this project around carpal tunnel syndrome.

            Ideally, I want to explain the project in this post, but I have already prepared a good documentation. So, I am attaching it with this email and you
            can go through it.

            
        </p>
    -->

        

        <p class="read-more"><a href="#">Read more</a></p>
    </div>
    
    <footer>
        <p>Published on January 1, 2024</p>
        <p>5 min read</p>
    </footer>
</div>

</body>
</html>
