{% extends 'base.html' %}

{% block content %}
<h2>Work Experience</h2>
<p>Stevens Institute of Technology</p>
<p>Graduate Peer Leader | Part-time Hoboken, New Jersey</p>
<ul>
    <li>Organized and led the Graduate Student Orientation program...</li>
    <li>Collaborated with peers, new students, and staff...</li>
    <li>Serving as a mentor to 2 students to support their transition...</li>
</ul>
<p>Accenture</p>
<p>Application Development Associate Hyderabad, India</p>
<ul>
    <li>Developed software components for a full-stack Creative Versioning Application...</li>
    <li>Depending on the agile sprints, worked as a Data Modeler...</li>
    <li>Provided technical expertise and guidance to the production support team...</li>
</ul>
{% endblock %}
